@model BaiTap2.Models.StudentTable

@{
    ViewBag.Title = "Detail";
}
<h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</h2>
<ul>
    <li>Mã sinh viên: </li>
    <li>Họ tên: </li>
    <li>Điểm: </li>
</ul>

<div>
    @Html.ActionLink("Back to List", "Registration")
</div>
