
@{
    ViewBag.Title = "Register1";
}

<form action="Index" method="post">
    <div>Mã số sinh viên: </div><input name="ID" type="text"/>
    <br />
    <div>Họ tên: </div><input name="Name" type="text" />
    <br />
    <div>Điểm: </div><input name="Marks" type="text" />
    <br />
    <input type="submit" value="Create" />

</form>


