
@{
    ViewBag.Title = "Register1";
}

<form action="" method="post">
    <table>
        <br/>
        <tr>
            <td>
                Mã số sinh viên:
            </td>
            <td>
                <input name="ID" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Họ tên: 
            </td>
            <td>
                <input name="Name" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Điểm
            </td>
            <td>
                <input name="Marks" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table>
</form>


